// @import "./temp/style.scss";
.temp-main{
  width: 100px;
  height: 100px;
  border: 1px solid#000;
}

/*新增的requestloading*/
.progress_wrap{
  position: relative;
  width: 338px;
  height: 32px;
  line-height: 32px;
  text-indent: 10px;
}
.progress_loading{
  width: 338px;
  height: 32px;
  background-color: rgba(223,226,227,1);
  border-radius: 3px;
  position: relative;
  box-shadow: none;
  line-height: 32px;
}

.progress_loading.u-progress-bar{
  background-color: #e14b46;
  line-height: 32px;
  font-size: 12px;
}
.progress_load_icon{
  position: absolute;
  top: 0;
  line-height: 32px;
  color: #fff;
  font-size: 20px;
  right: 20px;
}
.opacityShow{
  opacity: 1!important;
}
.opacityHidden{
  opacity: 0!important;
}
.loading_desc{
  font-size:12px;
  font-family:MicrosoftYaHei;
  color:rgba(110,110,119,1);
  line-height:16px;
  position: absolute;
  left: 0;
  top: 40px;
}
